.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    background-color: #DADDE1 !important;  /* твой нужный цвет */
    border-radius: 10px !important;
    opacity: 1 !important; /* убираем прозрачность */
  }
  
  /* Дополнительно, чтобы контролировать ширину и фон трека */
  .simplebar-track.simplebar-vertical {
    width: 12px !important;
    background: transparent !important; /* или другой цвет фона */
    
    
  }
  
  .simplebar-scrollbar {
    width: 12px !important;
  }
  